* {
	box-sizing: border-box;
}

table {
	width: 500px;
	margin: 16px;
	border: 1px solid black;
	border-collapse: collapse;
	overflow-x: auto;
}
th {
	font-weight: 700;
}

td,
th {
	border: 1px solid black;
	text-align: right;
	padding: 4px;
}
