* {
	box-sizing: border-box;
}

.image-container {
	display: flex;
	position: relative;
}

.image {
	margin: auto;
	max-width: 100%;
}

.image-button {
	height: 50px;
	width: 200px;
	font-size: 12px;
	font-weight: 700;
	line-height: 50px;
	text-align: center;
	background-color: bisque;
	text-transform: uppercase;
	opacity: 0.5;
	position: absolute;
	top: calc(50% - 25px);
	left: calc(50% - 100px);
}

.image-button:hover {
	opacity: 1;
}
